In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn as skl

In [ ]:
heart = pd.read_csv('heart.csv')

In [ ]:
 heart.head()  #display the first 5 records of the csv file

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [ ]:
heart.tail()  #displays the last 5 records of the csv file

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [ ]:
heart.shape   # displays rows and columns

(303, 14)

In [ ]:
heart.isnull().sum()   #checks the number of missing value

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
target      0
dtype: int64

In [ ]:
del heart['ca']
del heart['thal']
del heart['slope']
del heart['oldpeak']  
# shortening the dataset or network by deleting

In [ ]:
heart.head()   #To check the new dataset

   age  sex  cp  trestbps  chol  fbs  restecg  thalach  exang  target
0   63    1   3       145   233    1        0      150      0       1
1   37    1   2       130   250    0        1      187      0       1
2   41    0   1       130   204    0        0      172      0       1
3   56    1   1       120   236    0        1      178      0       1
4   57    0   0       120   354    0        1      163      1       1

In [ ]:
heart.columns   #displays the name of the columns

Index(['age', 'sex', 'cp', 'trestbps', 'chol', 'fbs', 'restecg', 'thalach',
       'exang', 'target'],
      dtype='object')

In [ ]:
heart.info()  # display the format of data

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 10 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       303 non-null    int64
 1   sex       303 non-null    int64
 2   cp        303 non-null    int64
 3   trestbps  303 non-null    int64
 4   chol      303 non-null    int64
 5   fbs       303 non-null    int64
 6   restecg   303 non-null    int64
 7   thalach   303 non-null    int64
 8   exang     303 non-null    int64
 9   target    303 non-null    int64
dtypes: int64(10)
memory usage: 23.8 KB

In [ ]:
!pip install pgmpy

Requirement already satisfied: pgmpy in c:\users\91759\anaconda3\lib\site-packages (0.1.16)
Requirement already satisfied: numpy in c:\users\91759\anaconda3\lib\site-packages (from pgmpy) (1.18.1)
Requirement already satisfied: torch in c:\users\91759\anaconda3\lib\site-packages (from pgmpy) (1.10.0)
Requirement already satisfied: tqdm in c:\users\91759\anaconda3\lib\site-packages (from pgmpy) (4.42.1)
Requirement already satisfied: joblib in c:\users\91759\anaconda3\lib\site-packages (from pgmpy) (0.14.1)
Requirement already satisfied: scikit-learn in c:\users\91759\anaconda3\lib\site-packages (from pgmpy) (0.22.1)
Requirement already satisfied: networkx in c:\users\91759\anaconda3\lib\site-packages (from pgmpy) (2.4)
Requirement already satisfied: pyparsing in c:\users\91759\anaconda3\lib\site-packages (from pgmpy) (2.4.6)
Requirement already satisfied: statsmodels in c:\users\91759\anaconda3\lib\site-packages (from pgmpy) (0.11.0)
Requirement already satisfied: pandas in c:\users\91759\anaconda3\lib\site-packages (from pgmpy) (1.0.1)
Requirement already satisfied: scipy in c:\users\91759\anaconda3\lib\site-packages (from pgmpy) (1.4.1)
Requirement already satisfied: typing-extensions in c:\users\91759\anaconda3\lib\site-packages (from torch->pgmpy) (3.7.4.3)
Requirement already satisfied: decorator>=4.3.0 in c:\users\91759\anaconda3\lib\site-packages (from networkx->pgmpy) (4.4.1)
Requirement already satisfied: patsy>=0.5 in c:\users\91759\anaconda3\lib\site-packages (from statsmodels->pgmpy) (0.5.1)
Requirement already satisfied: pytz>=2017.2 in c:\users\91759\anaconda3\lib\site-packages (from pandas->pgmpy) (2019.3)
Requirement already satisfied: python-dateutil>=2.6.1 in c:\users\91759\anaconda3\lib\site-packages (from pandas->pgmpy) (2.8.1)
Requirement already satisfied: six in c:\users\91759\anaconda3\lib\site-packages (from patsy>=0.5->statsmodels->pgmpy) (1.14.0)

In [ ]:
from pgmpy.models import BayesianModel
from pgmpy.estimators import MaximumLikelihoodEstimator, BayesianEstimator

In [ ]:
heart.columns

Index(['age', 'sex', 'cp', 'trestbps', 'chol', 'fbs', 'restecg', 'thalach',
       'exang', 'target'],
      dtype='object')

In [ ]:
model = BayesianModel([('age','trestbps'),('age','fbs'),('sex','trestbps'),('exang','trestbps'),('trestbps','target'),('fbs','target'),('target','restecg'),('target','thalach'),('target','chol')])

In [ ]:
model.fit(heart, estimator=MaximumLikelihoodEstimator)   #To fit the model

In [ ]:
print(model.get_cpds('age'))  #cpds technique to print the probability of individual records in tabular format

+---------+------------+
| age(29) | 0.00330033 |
+---------+------------+
| age(34) | 0.00660066 |
+---------+------------+
| age(35) | 0.0132013  |
+---------+------------+
| age(37) | 0.00660066 |
+---------+------------+
| age(38) | 0.00990099 |
+---------+------------+
| age(39) | 0.0132013  |
+---------+------------+
| age(40) | 0.00990099 |
+---------+------------+
| age(41) | 0.0330033  |
+---------+------------+
| age(42) | 0.0264026  |
+---------+------------+
| age(43) | 0.0264026  |
+---------+------------+
| age(44) | 0.0363036  |
+---------+------------+
| age(45) | 0.0264026  |
+---------+------------+
| age(46) | 0.0231023  |
+---------+------------+
| age(47) | 0.0165017  |
+---------+------------+
| age(48) | 0.0231023  |
+---------+------------+
| age(49) | 0.0165017  |
+---------+------------+
| age(50) | 0.0231023  |
+---------+------------+
| age(51) | 0.039604   |
+---------+------------+
| age(52) | 0.0429043  |
+---------+------------+
| age(53) | 0.0264026  |
+---------+------------+
| age(54) | 0.0528053  |
+---------+------------+
| age(55) | 0.0264026  |
+---------+------------+
| age(56) | 0.0363036  |
+---------+------------+
| age(57) | 0.0561056  |
+---------+------------+
| age(58) | 0.0627063  |
+---------+------------+
| age(59) | 0.0462046  |
+---------+------------+
| age(60) | 0.0363036  |
+---------+------------+
| age(61) | 0.0264026  |
+---------+------------+
| age(62) | 0.0363036  |
+---------+------------+
| age(63) | 0.029703   |
+---------+------------+
| age(64) | 0.0330033  |
+---------+------------+
| age(65) | 0.0264026  |
+---------+------------+
| age(66) | 0.0231023  |
+---------+------------+
| age(67) | 0.029703   |
+---------+------------+
| age(68) | 0.0132013  |
+---------+------------+
| age(69) | 0.00990099 |
+---------+------------+
| age(70) | 0.0132013  |
+---------+------------+
| age(71) | 0.00990099 |
+---------+------------+
| age(74) | 0.00330033 |
+---------+------------+
| age(76) | 0.00330033 |
+---------+------------+
| age(77) | 0.00330033 |
+---------+------------+

In [ ]:
print(model.get_cpds('sex'))

+--------+----------+
| sex(0) | 0.316832 |
+--------+----------+
| sex(1) | 0.683168 |
+--------+----------+

In [ ]:
print(model.get_cpds('fbs'))

+--------+---------+---------+---------+---------+-----+--------------------+---------+---------+---------+
| age    | age(29) | age(34) | age(35) | age(37) | ... | age(71)            | age(74) | age(76) | age(77) |
+--------+---------+---------+---------+---------+-----+--------------------+---------+---------+---------+
| fbs(0) | 1.0     | 1.0     | 1.0     | 1.0     | ... | 0.6666666666666666 | 1.0     | 1.0     | 1.0     |
+--------+---------+---------+---------+---------+-----+--------------------+---------+---------+---------+
| fbs(1) | 0.0     | 0.0     | 0.0     | 0.0     | ... | 0.3333333333333333 | 0.0     | 0.0     | 0.0     |
+--------+---------+---------+---------+---------+-----+--------------------+---------+---------+---------+